/*
 * Typography
 */

@font-face {
  font-family: 'DNV';
  src: url('/fonts/DNV-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

.DNV {
    font-family: DNV;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6em;
}

body,
input,
button,
fieldset,
textarea {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

button {
    appearance: none;
    cursor: pointer;
    pointer-events: visible;
    background: transparent;
    border: none;
}

h1,
h2,
h3,
h4,
h5,
p {
    max-width: 50em;
    font-weight: 100;
    hanging-punctuation: first allow-end last;
}

h1 {
    padding-top: 2em;
    line-height: 100%;
}
h2,
h3,
h4,
h5,
p {
    line-height: 140%;
}

:root {
    --dark: 3%;
    --dim: 18%;
    --medium: 41%;
    --medium-light: 77%;
    --light: 90%;
    --very-light: 97%;

    --blue-hs: 223, 67%;
    --sandstone-hs: 0, 7%;
    --sea-blue-hs: 218, 100%;
    --sky-blue-hs: 196, 75%;
    --earth-hs: 38, 50%;
    --land-green-hs: 114, 49%;
    --digi-green-hs: 139, 100%;
    --warning-hs: 357, 68%;
    --white-hs: 0, 0%;
    --black-hs: 0, 0%;

    --blue-hsl: var(--blue-hs), var(--dim);
    --sky-blue-hsl: var(--sky-blue-hs), var(--medium-light);
    --sea-blue-hsl: var(--sea-blue-hs), var(--dim);
    --land-green-hsl: var(--land-green-hs), var(--medium);
    --digi-green-hsl: var(--digi-green-hs), var(--medium-light);
    --dark-blue-hsl: var(--blue-hs), var(--dark);
    --warning-hsl: var(--warning-hs), 46%;
    --background-hsl: var(--sandstone-hs), var(--very-light);
    --background-hsl-2: var(--white-hs), 99%;
    --background-hsl-3: var(--white-hs), 99.5%;
    --background-hsl-4: var(--white-hs), 100%;
    --foreground-hsl: var(--sandstone-hs), var(--dim);

    --risk-yellow-color: hsl(48, 100%, 50%);
    --risk-orange-color: hsl(34, 100%, 46%);

    --blue-color: hsl(var(--blue-hsl));
    --sky-blue-color: hsl(var(--sky-blue-hsl));
    --sea-blue-color: hsl(var(--sea-blue-hsl));
    --land-green-color: hsl(var(--land-green-hsl));
    --digi-green-color: hsl(var(--digi-green-hsl));
    --dark-blue-color: hsl(var(--blue-hsl));
    --warning-color: hsl(var(--warning-hsl));

    --sandstone-color: hsl(var(--sandstone-hs), var(--light));

    --border-radius: 1em;
    --toolbar-size: 64px;
    --snappy: cubic-bezier(0.860, 0.000, 0.070, 1.000);

    --header-size: 40vh;
    scroll-behavior: smooth;
}

/*
 * Light Theme
 */

 :root {
    --background-color: hsl(var(--background-hsl));
    --background-color-2: hsl(var(--background-hsl-2));
    --background-color-3: hsl(var(--background-hsl-3));
    --background-color-4: hsl(var(--background-hsl-4));
    --foreground-color: hsl(var(--foreground-hsl));
 
    --primary-color: var(--blue-color);
 
    --box-shadow:
        1px 2px 2px hsla(var(--sandstone-hs), 70%, 0.2),
        2px 4px 4px hsla(var(--sandstone-hs), 70%, 0.2);
    --box-shadow-2:
        1px 2px 2px hsla(var(--sandstone-hs), 70%, 0.333),
        2px 4px 4px hsla(var(--sandstone-hs), 70%, 0.333),
        3px 6px 6px hsla(var(--sandstone-hs), 70%, 0.333);
    --box-shadow-3:
          1px 2px 2px hsla(var(--sandstone-hs), 70%, 0.4),
          2px 4px 4px hsla(var(--sandstone-hs), 70%, 0.4),
          3px 6px 6px hsla(var(--sandstone-hs), 70%, 0.4),
          4px 8px 8px hsla(var(--sandstone-hs), 70%, 0.4);
 }

* {
    box-sizing: border-box;
}

body {
    background: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 15%);
}

img {
    aspect-ratio: 1/1;
    font-style: italic;
    background-repeat: none;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    object-position: center;
    shape-margin: 1rem;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    white-space: nowrap;
}

h1 span,
h3 span {
    color: hsl(0, 0%, 70%);
}

body,
ol {
    margin: 0;
}

::selection,
mark {
    background: var(--risk-yellow-color);
}

.horizontal {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

/*
 * Components
 */

.Notifications {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    pointer-events: none;
    position: fixed;
    gap: 1em;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 2em;
    right: 0;
    width: 25vw;
    z-index: 4;
}
    .Notification {
        --hsl: var(--sandstone-hs), var(--medium-light);
        background: hsla(var(--hsl), 0.3);
        color: hsl(var(--hsl));
        border-radius: calc(var(--border-radius) * 0.5);
        list-style: none;
        padding: 1em 1.5em;
        position: relative;
    }
    .Notification button {
        position: absolute;
        color: inherit;
        right: 0.5em;
        top: 50%;
        transform: translateY(-45%);
    }
    .Notification.success {
        --hsl: var(--land-green-hsl);
    }
    .Notification.error {
        --hsl: var(--warning-hsl);
    }

.Icon.small svg {
    height: 18px;
    width: 18px;
}
.Icon.large svg {
    height: 128px;
    width: 128px;
}

.Progress-indicator .inactive {
    stroke: hsla(var(--sky-blue-hsl), 0.2);
}
.Progress-indicator .active {
    stroke: hsl(var(--sky-blue-hsl));
    transition: .6s var(--snappy);
}

.Upload {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 100vh;
    width: 100vw;
    place-content: center;
    place-items: center;
    text-align: center;
}

.Owasp {
    background: white;
    border-radius: 0.5em;
    position: sticky;
    max-width: 15em;
    overflow: hidden;
    padding: 2em;
    top: 3em;
    left: 3em;
    z-index: 3;
}
.Owasp ol {
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style: none;
}

.Checkbox {
    --size: 1.2em;
    display: flex;
    align-items: center;
    gap: 0.5em;
}
    .Checkbox .check {
        color: white;
        position: absolute;
        z-index: 2;
        pointer-events: none;
        opacity: 0;
        transition: .2s ease;
    }
    .Checkbox .check > svg {
        height: calc(var(--size) - 0.4em);
    }
    .Checkbox input[type=checkbox] {
        appearance: none;
        background: hsl(var(--blue-hs), 87%);
        border: 1px solid hsl(var(--blue-hs), 80%);
        border-radius: 0.3em;
        height: var(--size);
        width: var(--size);
        transition: .2s ease;
        z-index: 1;
    }
    .Checkbox.disabled {
        color: hsl(var(--sandstone-hs), 80%);
    }
    .Checkbox input[type=checkbox]:disabled {
        border: 1px solid hsl(var(--sandstone-hs), 80%);
    }
    .Checkbox input[type=checkbox]:checked {
        background: hsl(var(--blue-hs), var(--medium));
        border-color: hsl(var(--blue-hs), var(--medium));
    }
    .Checkbox:hover input[type=checkbox]:not(:disabled):not(:checked) {
        background: hsl(var(--blue-hs), 95%);
    }
    .Checkbox input[type=checkbox]:checked + .check {
        opacity: 1;
    }

/*
 * Sections
 */

header {
    background: hsl(var(--blue-hs), var(--dim));
    display: flex;
    color: white;
    padding: 5em;
    place-content: center;
    width: 100%;
    z-index: 3;
    position: relative;
}
header h1 {
    margin-top: 0;
    padding-top: 0;
}
header > div {
    display: flex;
    flex-direction: row;
    place-items: center;
    max-width: 120rem;
    margin: 0 auto;
    gap: 4em;
}
header p {
    line-height: 200%;
}
header .Progress-indicator .inactive {
    stroke: hsla(var(--digi-green-hsl), 0.2);
}
header .Progress-indicator .active {
    stroke: var(--digi-green-color);
}
header a {
    background: hsla(var(--blue-hs), var(--medium), 0.5);
    border-radius: 0.25em;
    color: white;
    text-decoration: none;
    padding: 0.25em 0.5em;
    transition: .2s ease;
}
header a:hover {
    background: hsl(var(--blue-hs), var(--medium));
}
@media screen and (max-width: 1280px) {
    header > div {
        flex-direction: column;
    }
}

.Search {
    background: hsl(var(--blue-hs), var(--dim));
    border-radius: calc((var(--border-radius) * 0.5) + 0.5em);
    box-shadow: var(--box-shadow-2);
    color: white;
    position: sticky;
    display: flex;
    flex-direction: column;
    max-width: 80rem;
    margin: 1em auto;
    padding: 0.5em;
    top: 1em;
    z-index: 3;
}
.Search input[type=search] {
    border-radius: calc(var(--border-radius) * 0.5);
    border: none;
    font-size: 1.5em;
    padding: 0.5em 1em;
    outline: none;
}
.Search input[type=search]:focus {
    outline: 5px solid hsl(var(--sea-blue-hs), var(--medium));
}
.Search footer {
    display: flex;
    flex-direction: row;
    gap: 2em;
    padding: 1em;
}
@media screen and (max-width: 1280px) {
    .Search {
        top: 0;
        margin: 0;
        padding: 1em;
        border-radius: 0;
        max-width: 100%;
    }
}



.Table-of-contents {
    background: white;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    top: 40vh;
    left: 0;
    position: fixed;
    margin: 2em;
    padding: 2em;
    width: fit-content;
    transform: translateY(-50%);
    z-index: 5;
}
.Table-of-contents ol {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0;
    padding-left: 1em;
}

@media screen and (max-width: 1520px) {
    .Table-of-contents {
        display: none;
    }
}

.Assessments {
    font-size: 1.25em;
}
.Assessments ol {
    margin: 0 auto;
    max-width: 80rem;
}
.Assessments li {
    scroll-margin-top: 6em;
}
    .Assessment {
        display: flex;
        flex-direction: column;
        margin-top: 6em;
        position: relative;
        gap: 1em;
        align-items: flex-start;
    }
    .Assessment .item {
        display: flex;
        font-variant: tabular-nums;
        align-items: center;
    }
    .Assessment .item:hover a {
        opacity: 1;
    }
    .Assessment .item a {
        padding-left: 0.25em;
        padding-top: 0.1em;
        transition: .2s ease;
        opacity: 0.2;
    }
    .Assessment .Progress-indicator {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-200%);
        z-index: 1;
    }
    .Assessment .card {
        position: relative;
    }
    .card .evidence, .card .comments {
        color: var(--sandstone-color);
        position: absolute;
        top: 2em;
        right: 2em;
    }


.fade {
    backdrop-filter: blur(3rem);
    mask: linear-gradient(to bottom,
            hsla(0, 0%, 98%, 1) 40%,
            hsla(0, 0%, 98%, 0));
    position: fixed;
    height: 13em;
    width: 100vw;
    z-index: 2;
    top: 0;
    pointer-events: none;
}
.badge {
    --color: var(--sky-blue-hs);
    background: hsl(var(--color), 93%);
    border-radius: calc(var(--border-radius) * 0.25);
    color: hsl(var(--color), 65%);
    font-size: small;
    display: inline-block;
    text-decoration: none;
    padding: 0.2em 0.4em;
}
.badge.warning {
    --color: var(--warning-hs);
}

.dot {
    position: relative;
}
.dot::after {
    content: " ";
    background: var(--warning-color);
    border-radius: calc(var(--border-radius) * 0.25);
    display: block;
    height: 0.3em;
    width: 0.3em;
    position: absolute;
    right: 0em;
    top: -.3em;
}